<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssmdemo.dao.UserMapper" >

    <select id="selectUserByName"  resultType="com.example.ssmdemo.domain.User">
        SELECT * FROM ssmdemo WHERE id = #{id}
    </select>

    <insert id="insertInfo" parameterType="com.example.ssmdemo.domain.User">
        insert into ssmdemo
        (username, age, customerid)
        value (#{username}, #{age}, #{customerid});
    </insert>
</mapper>